div.row.linha-tabelas{
  margin-top:25px;
}

.btn.btn-modal{
  width:100%;
}

div.panel-graficos{
  margin-top:20px;
}
input {
	margin-bottom: 5px;
}

.modal-usuario {
	font-weight: bold;
}

.modal-usuario > h5 {
	color: grey;
}